*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(image/cute.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
            body {
                font-size: 16px;
            }

            pfp, name, .snapchat,.insta, .yt, .tt, .fb, .co{
                padding: 0px;
            }
        }

img{
    height: 100px;
    width: 100px;
    display: block;
    border-radius: 90%;
    margin-top: 62px;
    margin-left: 46%;
}

.name{
    color: white;
    margin-left: 590px;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    /* margin-left: 10%; */
}

a{
    text-decoration: none;
}

.snapchat  button{
    color: black;
    margin-left: 25%;
    margin-top: 30px;
    padding: 10px;
    height: 60px;
    width: 665px;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
}

/* .snapchat button{
    color: black;
} */

.snapchat button:hover{
    transition: 0.2s;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: whi;
}

.snapchat button:hover{
    color: white;
    cursor: pointer;
}

@keyframes sizeChange {
    0%, 0%,  100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.snapchat button {
        width: 665px;
        height: 60px;
        background-color: white;
        animation: sizeChange 2s infinite; 
    }

.insta  button{
    /* color: black; */
    margin-left: 25%;
    margin-top: 15px;
    padding: 10px;
    height: 60px;
    width: 665px;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
}

.insta button{
    color: black;
}

.insta button:hover{
    transition: 0.2s;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: whi;
}

.insta button:hover{
    color: white;
    cursor: pointer;
}

.yt  button{
    /* color: black; */
    margin-left: 25%;
    margin-top: 13px;
    padding: 10px;
    height: 60px;
    width: 665px;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
}

.yt button{
    color: black;
}

.yt button:hover{
    transition: 0.2s;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: whi;
}

.yt button:hover{
    color: white;
    cursor: pointer;
}

.tt  button{
    /* color: black; */
    margin-left: 25%;
    margin-top: 13px;
    padding: 10px;
    height: 60px;
    width: 665px;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
}

.tt button{
    color: black;
}

.tt button:hover{
    transition: 0.2s;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: whi;
}

.tt button:hover{
    color: black;
    cursor: pointer;
}

.fb  button{
    /* color: black; */
    margin-left: 25%;
    margin-top: 13px;
    padding: 10px;
    height: 60px;
    width: 665px;
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
}

.fb button{
    color: black;
}

.fb button:hover{
    transition: 0.2s;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: whi;
}

.fb button:hover{
    color: black;
    cursor: pointer;
}

.co{
    color: #C9C9C9;
    margin-top: 30px;
    font-size: small;
    opacity: 0.7;
}